@model Trabalho20172.Models.LocacaoViewModel


@{
    foreach (var carro in Model.listaCarrosDisponiveis)
    {
        var categoria = "category" + carro.CategoriaId;
        //Pegar aqui o caminho da foto
        int carIMG = 1;
        var caminhoFoto = "~/Content/img/rental-car/rentalcar/car" + carIMG + ".png";


        <div class="item @categoria">
                <div class="image"><img id="caminhoFotoCarro_@carro.Id" src="~/Content/img/rental-car/rentalcar/car1.png" alt="" /></div>
                <div class="info">
                    <h4>@carro.Modelo</h4>
                    <p>15 km/l (approximate)</p>
                    <p><a href="#" class="read-more">Details</a></p>
                    <button type="button" class="selecionarCarro btn btn-primary" id="carro_@carro.Id" idCarro="@carro.Id" style="float:left">Selecionar</button>
                </div>
                <div class="details-box">
                    <span class="box-close">&times;</span>
                    <div class="title">Vehicle Details</div>
                   
                    <div class="inside">
                        <div class="wrapper row-top">
                            <div class="details-image"><img src="~/Content/img/rental-car/rentalcar/car1.png" alt="" /></div>
                            <div class="details-list">
                                <h4>@carro.Modelo</h4>
                                
                                @{ 
                                    if (carro.Itens != null)
                                    {
                                        foreach (var item in carro.Itens)
                                        {
                                            var desc = item.Descricao;
                                            @Html.TextBox(desc)
                                        }
                                    }

                                    }
                                @*5 Passengers<br>
                                1 Large Suitcase, 2 Small Suitcase<br>
                                Automatic Transmission<br>
                                Air Conditioning<br>
                                0 g/km CO2*@
                            </div>
                        </div>
                        <div class="row-bot">
                            <p><strong>Please Note:</strong></p>
                            <ul class="styled-list">
                                <li><strong>Pre-Pay Online: </strong>Allows you to reserve your vehicle and save money by pre-paying online.</li>
                                <li><strong>Pay at location:</strong> Allows you to reserve your vehicle and pay at the counter upon collection.</li>
                                <li>The vehicles shown are examples. Specific models within a car class may vary in availability and features, such as passenger seating, luggage capacity and mileage.</li>
                            </ul>
                            <button type="button" class="btn btn-primary selecionarCarro" id="carro_@carro.Id" idCarro="@carro.Id" style="float:left">Selecionar</button>
                        </div>
                    </div>
                </div>
            </div>

        carIMG++;

    }

}


