
@{
    ViewBag.Title = "Teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Trabalho20172.Models.LocacaoViewModel
<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:28:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car|Rental Landingpage</title>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/img/ico/favicon.png">
    <link href="~/Content/css/rentalcar-template.css" rel="stylesheet" />

    <style>
        .reserva-header {
            height: 50px
        }
    </style>

</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="260">

    <section class="content">
        <div class="container-fluid">
            <div class="row content">
                @using (Html.BeginForm("Veiculos", "Veiculo", FormMethod.Post, new { id = "filtro-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(m => m.Modo, new { Value = Model.Modo })

                <!--Filtros-->
                    <div class="col-sm-12 col-md-2 sidenav">
                        <div class="base">

                            <ul class="nav nav-list">
                                <li class="active"><a href="#"><div class="fs1" aria-hidden="true" data-icon=""></div>Itens</a></li>
                                @{
                                    foreach (var item in Model.listaItens)
                                    {
                                        if (Model.listIdItensChecadosFiltro.Contains(item.Id))
                                        {
                                            <li><input type="checkbox" class="filtroItens" name="chkBox_@item.Id" value="@item.Id" style="margin-left:5px" checked />&nbsp; @item.Descricao</li>
                                        }
                                        else
                                        {
                                            <li><input type="checkbox" class="filtroItens" name="chkBox_@item.Id" value="@item.Id" style="margin-left:5px" />&nbsp; @item.Descricao</li>
                                        }
                                    }

                                }
                                <li class="divider"></li>
                            </ul>


                        </div>
                    </div>
                <!--Fim Filtros-->
                    <div class="col-sm-12 col-md-8">
                        <h2>Vehicle guide</h2>
                        <div class="filters-by-category text-center">
                            <ul class="option-set" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*" class="selected">Todos</a></li>
                                <li><a href="#filter" data-option-value=".category4">Luxo</a></li>
                                <li><a href="#filter" data-option-value=".category5" class="">Esporte</a></li>
                                <li><a href="#filter" data-option-value=".category6" class="">Popular</a></li>

                            </ul>
                        </div>
                        <div class="gallery">
                            @{Html.RenderPartial("ListaVeiculos", Model);}
                        </div>
                    </div>

                <!--Area da reserva-->
                    <div class="col-sm-12 col-md-2 sidenav normal" id="divReserva">
                        <div id="div-fixo-slip" class="col-2 pull-right" style="">

                            <div class="box-detalhes-reserva">
                                <div class="regiao-slip-reserva ativo" id="slip-reserva-sua-reserva">
                                    <div class="reserva-header">
                                        <a class="target" href="#" title="sua reserva">
                                            <i class="icon2-sua-reserva"></i><h1 style="margin-top:5%">sua reserva</h1>
                                        </a>
                                    </div>
                                    <div class="reserva-body">
                                        <i class="icon2-retirada"></i><p class="sub-title">Retirada</p>
                                        <a class="pull-right btn-dtl-reserva link-alterar" href="#" data-toggle="modal" data-target="#myModal" title="Editar">
                                            Editar
                                        </a>

                                        <div class="content-agencias">
                                            <p class="text-slip-strong" style="text-transform:capitalize">
                                                @Model.localRetirada.Nome
                                                @Html.HiddenFor(m => m.idLocalRetiradaHidden, new { Value = Model.localRetirada.Id })
                                            </p>
                                            <div class="date text-slip-normal">
                                                @Model.dataRetirada.ToString()
                                                @Html.HiddenFor(m => m.dataRetiradaHidden, new { Value = Model.dataRetirada.ToString() })
                                                @Html.HiddenFor(m => m.horaRetirada, new { Value = Model.horaRetirada })
                                            </div>
                                        </div>
                                        <p class="sub-title"><i class="icon2-devolucao"></i>Devolução</p>
                                        <a class="pull-right btn-dtl-reserva link-alterar" href="#" data-toggle="modal" data-target="#myModal" title="Editar">
                                            Editar
                                        </a>
                                        <div class="content-agencias">
                                            <p class="text-slip-strong" style="text-transform:capitalize">
                                                @Model.localEntrega.Nome
                                                @Html.HiddenFor(m => m.idLocalEntregaHidden, new { Value = Model.localEntrega.Id })
                                            </p>
                                            <div class="date text-slip-normal">
                                                @Model.dataEntrega.ToString()
                                                @Html.HiddenFor(m => m.dataEntregaHidden, new { Value = Model.dataEntrega.ToString() })
                                                @Html.HiddenFor(m => m.horaEntrega, new { Value = Model.horaEntrega })
                                            </div>
                                        </div>
                                        <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                            <p class="sub-title"> <i class="icon2-seu-carro"></i> Diárias: <font color="black">@Model.QtdDiarias</font></p>
                                            @Html.HiddenFor(m => m.QtdDiarias, new { Value = Model.QtdDiarias })
                                        </div>

                                        @{
                                            if (Model.carroSelecionado == null)
                                            {

                                                <div id="slip-reserva-upgrade" class="box-detalhes-reserva seu-carro" style="display:none;">
                                                    <br>

                                                    <div class=""><img style="width:250px" id="caminhoFotoCarroSelecionado" src="" alt="" /></div>
                                                    <div class="info">
                                                        <h4><font color="#00984a"> Modelo: </font><span id="carroSelecionado"></span></h4>
                                                        @Html.HiddenFor(m => m.idCarroSelecionadoHidden)
                                                    </div>

                                                </div>

                                                <div class="reserva-footer" id="slip-reserva-valor" style="display:none;">
                                                    <div class="slip-reserva-valor-total">
                                                        <h3 class="titulo valor-previsto"><font color="#00984a">Total: </font><span id="valorLocacao"></span></h3>
                                                        @Html.HiddenFor(m => m.precoTotal)
                                                        @Html.HiddenFor(m => m.precoDiaria)
                                                    </div>
                                                </div>

                                                <input type="button" class="btn btn-primary btn-block" id="confirmarLocacao" value="Continuar" style="display:none" />
                                            }
                                            else
                                            {
                                                <div id="slip-reserva-upgrade" class="box-detalhes-reserva seu-carro-edicao" style="">
                                                    <br>

                                                    <div class=""><img style="width:250px" id="caminhoFotoCarroSelecionado" src="@Model.carroSelecionado.UrlImagem" alt="" /></div>
                                                    <div class="info">
                                                        <h4><font color="#00984a"> Modelo: </font><span id="carroSelecionado"></span>@Model.carroSelecionado.Modelo</h4>
                                                        @Html.HiddenFor(m => m.idCarroSelecionadoHidden)
                                                    </div>
                                                </div>

                                                <div class="reserva-footer" id="slip-reserva-valor" style="">
                                                    <div class="slip-reserva-valor-total">
                                                        <h3 class="titulo valor-previsto"><font color="#00984a">Total: </font><span id="valorLocacao">@Model.QtdDiarias X @Model.precoDiaria = R$ @Model.precoTotal</span></h3>
                                                        @Html.HiddenFor(m => m.precoTotal)
                                                        @Html.HiddenFor(m => m.precoDiaria)
                                                    </div>
                                                </div>

                                                <input type="button" class="btn btn-primary btn-block" id="confirmarLocacao" value="Continuar" style="" />

                                            }
                                        }



                                    </div>

                                </div>
                              </div>
                        </div>
                    </div>
                <!--Fim Area reserva-->                                                 }
            </div>
        </div>

        <!--Modal de Edição do local de Retirada/Entrega-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="reservation-form-shadow">
                            <form action="#" method="post" name="car-select-form" id="car-select-form">
                                <div class="alert alert-danger hidden" id="car-select-form-msg">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>Note:</strong> Todos os campos são obrigatórios!
                                </div>
                                <!-- Pick-up location start -->
                                <div class="location">
                                    <div class="input-group pick-up">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> Retirada</span>
                                        @Html.DropDownList("listaLocalRetirada", Model.ListaDeAgencias, new { @class = "form-control" })
                                    </div>
                                    <!-- Pick-up location end -->
                                    <a class="different-drop-off" href="#">Local de entrega diferente da retirada?</a>
                                    <!-- Drop-off location start -->
                                    <div class="input-group drop-off">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> Entrega</span>
                                        @Html.DropDownList("listaLocalEntrega", Model.ListaDeAgencias, new { @class = "form-control" })

                                    </div>
                                </div>
                                <!-- Drop-off location end -->
                                <!-- Pick-up date/time start -->
                                <div class="datetime pick-up">
                                    <div class="date pull-left">
                                        <div class="input-group">
                                            <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Retirar</span>
                                            <input type="text" name="pick-up-date" id="pick-up-date" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="time pull-right">
                                        <div class="styled-select-time">
                                            <select name="pick-up-time" id="pick-up-time">
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="06:30 AM">06:30 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                                <option value="07:30 AM">07:30 AM</option>
                                                <option value="08:00 AM">08:00 AM</option>
                                                <option value="08:30 AM">08:30 AM</option>
                                                <option value="09:00 AM">09:00 AM</option>
                                                <option value="09:30 AM">09:30 AM</option>
                                                <option value="10:00 AM">10:00 AM</option>
                                                <option value="10:30 AM">10:30 AM</option>
                                                <option value="11:00 AM">11:00 AM</option>
                                                <option value="11:30 AM">11:30 AM</option>
                                                <option value="12:00 PM">12:00 PM</option>
                                                <option value="12:30 PM">12:30 PM</option>
                                                <option value="01:00 PM">01:00 PM</option>
                                                <option value="01:30 PM">01:30 PM</option>
                                                <option value="02:00 PM">02:00 PM</option>
                                                <option value="02:30 PM">02:30 PM</option>
                                                <option value="03:00 PM">03:00 PM</option>
                                                <option value="03:30 PM">03:30 PM</option>
                                                <option value="04:00 PM">04:00 PM</option>
                                                <option value="04:30 PM">04:30 PM</option>
                                                <option value="05:00 PM">05:00 PM</option>
                                                <option value="05:30 PM">05:30 PM</option>
                                                <option value="06:00 PM">06:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- Pick-up date/time end -->
                                <!-- Drop-off date/time start -->
                                <div class="datetime drop-off">
                                    <div class="date pull-left">
                                        <div class="input-group">
                                            <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Entregar</span>
                                            <input type="text" name="drop-off-date" id="drop-off-date" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="time pull-right">
                                        <div class="styled-select-time">
                                            <select name="drop-off-time" id="drop-off-time">
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="06:30 AM">06:30 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                                <option value="07:30 AM">07:30 AM</option>
                                                <option value="08:00 AM">08:00 AM</option>
                                                <option value="08:30 AM">08:30 AM</option>
                                                <option value="09:00 AM">09:00 AM</option>
                                                <option value="09:30 AM">09:30 AM</option>
                                                <option value="10:00 AM">10:00 AM</option>
                                                <option value="10:30 AM">10:30 AM</option>
                                                <option value="11:00 AM">11:00 AM</option>
                                                <option value="11:30 AM">11:30 AM</option>
                                                <option value="12:00 PM">12:00 PM</option>
                                                <option value="12:30 PM">12:30 PM</option>
                                                <option value="01:00 PM">01:00 PM</option>
                                                <option value="01:30 PM">01:30 PM</option>
                                                <option value="02:00 PM">02:00 PM</option>
                                                <option value="02:30 PM">02:30 PM</option>
                                                <option value="03:00 PM">03:00 PM</option>
                                                <option value="03:30 PM">03:30 PM</option>
                                                <option value="04:00 PM">04:00 PM</option>
                                                <option value="04:30 PM">04:30 PM</option>
                                                <option value="05:00 PM">05:00 PM</option>
                                                <option value="05:30 PM">05:30 PM</option>
                                                <option value="06:00 PM">06:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- Drop-off date/time end -->
                                <input type="submit" class="submit" name="submit" value="Continuar" id="checkoutModalLabel">
                                @*<a href="@Url.Action("Veiculos", "Veiculo")" name="submit" type="submit" class="btn submit" >Continuar</a>*@

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--Fim modal de Edição do local de Retirada/Entrega-->
        <!--Modal de Login-->
        <div class="modal fade" id="modal-login" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form" class="form" id="form-login">
                            <span id="msgErroLogin" class="msgErro" style="display:none"><font color="red">CPF ou Senha inválidos!</font></span>
                            <br />
                            <div class="form-group">
                                @Html.HiddenFor(m => m.idCliente)
                                <label for="usrname"><span class="glyphicon glyphicon-user"></span> CPF</label>
                                <input type="text" class="form-control" id="cpfUser" placeholder="Digite o CPF">
                                <span id="msgErroCPF" class="msgErro" style="display:none"><font color="red">O CPF é obrigatório!</font></span>
                            </div>
                            <div class="form-group">
                                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Senha</label>
                                <input type="password" class="form-control" id="senhaUser" placeholder="Digite a Senha">
                                <span id="msgErroSenha" class="msgErro" style="display:none"><font color="red">A senha é obrigatória!</font></span>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked>Remember me</label>
                            </div>
                            <button type="button" class="btn btn-primary btn-block" id="efetuarLogin"><span class="glyphicon glyphicon-off"></span> Login</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <p>Not a member? <a href="#" id="btn-cadastro">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                </div>

            </div>
        </div>
        <!--Fim modal de Login-->
        
       <div class="modal fade" id="modal-cadastro" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Cadastro</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form" method="post" id="form-cadastro-cliente" data-toggle="validator">
                        <div class="form-group col-md-12">
                            <label for="name">Nome	</label>
                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @required = "required" })
                            <input type="hidden" id="IdCliente" value="" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> CPF</label>
                            @Html.TextBoxFor(m => m.cpf, new { @class = "form-control", @required = "required", @name = "cpf", @maxlength = "14", @onkeypress = "formatar('###.###.###-##', this);" })
                        </div>

                        <div class="form-group col-md-4">
                            <label for="name">Nascimento*</label>
                            @Html.TextBoxFor(m => m.Nascimento, new { @class = "form-control data", @required = "required" })
                        </div>

                        <div class="form-group col-md-5">
                            <label for="name">Telefone*</label>
                            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control tel", @required = "required" })
                        </div>

                        <div class="form-group col-md-7">
                            <label for="name">Cartao*	</label>
                            @Html.TextBoxFor(m => m.Cartao, new { @class = "form-control cartao", @required = "required" })
                        </div>

                        <div class="form-group col-md-7">
                            <label for="name">Endereço*</label>
                            @Html.HiddenFor(m => m.Endereco)
                            @Html.TextBoxFor(m => m.rua, new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="form-group col-md-5">
                            <label for="name">Bairro*</label>
                            @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="form-group col-md-6">
                            <label for="name">Cidade*</label>
                            @Html.TextBoxFor(m => m.cidade, new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="form-group col-md-2">
                            <label for="name">UF*</label>
                            @Html.TextBoxFor(m => m.estado, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Senha</label>
                            @Html.TextBoxFor(m => m.senha, new { @class = "form-control", @type = "password", @required = "required" })
                        </div>

                        <button type="submit" class="btn btn-success btn-block" id="efetuarLogin"><span class="glyphicon glyphicon-off"></span> Cadastrar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>

                </div>
            </div>

        </div>
        </div>
        <!--Fim modal de cadastro-->

        <!--Modal de Confirmação dos dados de Cartão de Crédito-->
        <div class="modal fade" id="modal-confirmacao" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-lock"></span> Confirmar Pagamento</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form" class="form" id="form-confirmacao" data-toggle="validator">
                            <span id="msgErroConfirmacao" class="msgErro" style="display:none"><font color="red">Dados inválidos!</font></span>
                            <br />
                            <div class="form-group">
                                @Html.HiddenFor(m => m.idCliente)
                                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Cartão</label>
                                @*@Html.TextBoxFor(m=>m.Cartao , new { @class = "form-control", @required = "required"})*@
                                <input type="text" class="form-control" id="NumCartao" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> DV</label>
                                <input type="text" class="form-control" id="DigitoVerificador" placeholder="" required>
                                <span id="msgErroSenha" class="msgErro" style="display:none"><font color="red">A senha é obrigatória!</font></span>
                            </div>
                          
                            <button type="button" class="btn btn-primary btn-block" id="btnConfirmar"><span class="glyphicon glyphicon-off"></span> Confirmar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>

            </div>
        </div>
        <!--Fim modal de Login-->


    </section>


    <a href="#" class="scrollup">ScrollUp</a>

</body>

<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:29:28 GMT -->
</html>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            debugger;
            var idCliente = '@HttpContext.Current.Session["idCliente"]';
            if (idCliente != "") {
                debugger;
                $("#opLogin").hide();
                $("#opReservas").show();
                $("#opLogout").show();
            }

            //Abre o Modal de login
            $("#opLogin").click(function (e) {
                $("#modal-login").modal();
            });

              //Recarrega a página com os carros disponíveis de acordo com o filtro selecionado
            $(".filtroItens").click(function (e) {
                $("#filtro-form").submit();

            });

            $(".selecionarCarro").click(function (e) {
                var idCarro = $(this).attr("idCarro");
                var modeloCarro = $(this).attr("modeloCarro");
                var caminhoFoto = $("#caminhoFotoCarro_" + idCarro).attr("src");
                var precoDiaria = parseFloat(($(this).attr("precoCarro")).replace(",", "."));
                var qtdDiarias = parseInt($("#QtdDiarias").val());
                var precoTotal = precoDiaria * qtdDiarias;
                precoDiaria = (precoDiaria.toString()).replace(".", ",");
                precoTotal = (precoTotal.toString()).replace(".", ",");

                //Montando as Informações sobre o carro selecionado
                $("#seu-carro-edicao").hide();

                $("#idCarroSelecionadoHidden").val(idCarro);
                $("#carroSelecionado").text(modeloCarro);
                $("#caminhoFotoCarroSelecionado").attr("src", caminhoFoto);
                $("#valorLocacao").text(qtdDiarias + " X " + precoDiaria + " = R$ " + precoTotal);
                $("#precoDiaria").val(precoDiaria);
                $("#precoTotal").val(precoTotal);
                $("#slip-reserva-valor").show();
                $(".seu-carro").show();
                $("#confirmarLocacao").show();


            });

            //Verifica se o usuário está logado e redireciona para a tela de confirmação do pagamento
            $("#confirmarLocacao").click(function (e) {
                debugger;
                //Verificar aqui se o cliente já está logado
                var idCliente = '@HttpContext.Current.Session["idCliente"]';
                if (idCliente != "" || $("#IdCliente").val() != "") {
                   // ChamarPaginaDeConfimacaoDaLocacao()
                    $("#modal-confirmacao").modal();
                }
                else {
                    $("#modal-login").modal();
                }
            });

            //Verifica se o cliente está cadastrado e faz o login
            $("#efetuarLogin").click(function (e) {

                $("#msgErroLogin").hide();

                var login = $("#cpfUser").val();
                var senha = $("#senhaUser").val();
                var erro = 0;

                if (login == "") {
                    $("#msgErroCPF").show();
                    $("#cpfUser").css({ 'border': 'red solid 1px' })
                    erro = 1;
                }
                if (senha == "") {
                    $("#msgErroSenha").show();
                    $("#senhaUser").css({ 'border': 'red solid 1px' })
                    erro = 1;
                }

                if (erro == 0) {

                    $.ajax({
                        url: "/Acesso/EfetuarLogin",
                        type: "POST",
                        dataType: 'json',
                        data: {
                            login: $("#cpfUser").val(),
                            senha: $("#senhaUser").val()
                        },
                        success: function (result) {
                            if (result.Status == "ok") {
                                $("#IdCliente").val(result.IdCliente);
                                $("#modal-login").modal('toggle');
                                $("#opLogin").hide();
                                $("#opReservas").show();
                                $("#opLogout").show();
                            }
                            else {
                                $("#msgErroLogin").show();

                            }
                        }
                    });
                }

            });

            //Verifica os dados do cartão
            $("#btnConfirmar").click(function (e) {
                $("#msgErroConfirmacao").hide();

                $.ajax({
                    url: "/Base/ConfirmarDadosCartao",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        Cartao: $("#NumCartao").val(),
                        DV: $("#DigitoVerificador").val()
                    },
                    success: function (result) {
                        if (result.Status == "ok") {
                            $("#modal-confirmacao").modal('toggle');
                            EfetuarReserva();
                          
                        }
                        else {
                            $("#msgErroConfirmacao").show();

                        }
                    }
                });

            });


        });




        function ChamarPaginaDeConfimacaoDaLocacao() {
            var idCarro = $("#idCarroSelecionadoHidden").val();
            var idLocalRetirada = $("#idLocalRetiradaHidden").val();
            var idLocalEntrega = $("#idLocalEntregaHidden").val();
            var dataRetirada = $("#dataRetiradaHidden").val();
            var dataEntrega = $("#dataEntregaHidden").val();
            var qtdDiarias = $("#QtdDiarias").val();
            var precoDiaria = $("#precoDiaria").val();
            var precoTotal = ($("#precoTotal").val()).replace(".", ",");
            var href = "/Locacao/DadosCliente?idCarroSelecionado=" + idCarro + "&idLocalRetirada=" + idLocalRetirada + "&idLocalEntrega=" + idLocalEntrega + "&dataRetirada=" + dataRetirada + "&dataEntrega=" + dataEntrega + "&qtdDiarias=" + qtdDiarias + "&precoDiaria=" + precoDiaria + "&precoTotal=" + precoTotal;
            window.open(href, "_self");
        }

        function EfetuarReserva() {
            //Chama o Método que faz a Locação
                $.ajax({
                    url: "/Locacao/Efetuarlocacao",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        idCarro: $("#idCarroSelecionadoHidden").val(),
                        idLocalRetirada: $("#idLocalRetiradaHidden").val(),
                        idLocalEntrega: $("#idLocalEntregaHidden").val(),
                        dataRetirada: $("#dataRetiradaHidden").val(),
                        dataEntrega: $("#dataEntregaHidden").val(),
                        precoTotal: ($("#precoTotal").val()).replace(".", ",")
                    },
                    success: function (result) {
                        if (result.Status == "ok") {
                            swal({
                                title: "Reserva efetuada com sucesso!",
                                icon: "success",
                            }).then((willDelete) => {
                                ChamarPaginaDeConfimacaoDaLocacao();
                            });
                        }
                        else {
                            swal({
                                title: "Ocorreu algum erro na gravação\n Tente novamente!",
                                type: "error"
                            });
                        }
                    }
                });

        }
    </script>
}

