
@model Trabalho20172.Models.LocacaoViewModel

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:28:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car|Rental Landingpage</title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- Google Font Lato -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Plugin Styles -->
    <link href="~/Content/css/datepicker.css" rel="stylesheet">

    <!-- Main Styles -->
    <link href="~/Content/css/styles.css" rel="stylesheet">
    <link href="~/Content/css/rental-car-css/rentalcar-template.css" rel="stylesheet">
    <!-- Available main styles: styles-red.css, styles-green.css -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.~/Scripts/js/1.4.2/respond.min.js"></script>
      <link href="css/ie8fix.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
      <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/img/ico/favicon.png">

	@*<style>
		#divReserva {
		 position:absolute;  
    width:200px;height:50px;top:10px;right:10px;  
    padding:16px;background:#FFFFFF;  
    border:2px solid #2266AA;  
    z-index:100
		
		}

	</style>*@

</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="260">
    <!-- Header start -->
    <header data-spy="affix" data-offset-top="39" data-offset-bottom="0" class="large">
        <div class="row container box">
            <div class="col-md-5">
                <!-- Logo start -->
                <div class="brand">
                    <h1><a class="scroll-to" href="#top"><img class="img-responsive" src="~/Content/img/logo.gif" alt="Car|Rental"></a></h1>
                </div>
                <!-- Logo end -->
            </div>
            <div class="col-md-7">
                <div class="clearfix"></div>
                <!-- start navigation -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand scroll-to" href="#top"><img class="img-responsive" src="~/Content/img/logo.gif" alt="Car|Rental"></a>
                        </div>
                        <!-- Collect the nav links, for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <!-- Nav-Links start -->
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#top" class="scroll-to">Inicio</a></li>
                                <li><a href="#vehicles" class="scroll-to">Veículos</a></li>
                                <li><a href="#contact" class="scroll-to">Contato</a></li>
                            </ul>
                            <!-- Nav-Links end -->
                        </div>
                    </div>
                </nav>
                <!-- end navigation -->
            </div>
        </div>
    </header>
    <!-- Header end -->
  
    <section class="content">
        <div class="container-fluid">
            <div class="row content">
                <!--Filtros-->
                <div class="col-sm-2 sidenav">
                    <div class="base">
                        <ul class="nav nav-list">
                            <li class="active"><a href="#"><div class="fs1" aria-hidden="true" data-icon=""></div>Itens</a></li>
                            <li><input type="checkbox" id="opArCondicionado" style="margin-left:5px" />&nbsp; Ar Condicionado</li>
                            <li><input type="checkbox" id="opTetoSolar" style="margin-left:5px" />&nbsp; Teto Solar</li>
                            <li><input type="checkbox" id="opGPS" style="margin-left:5px" />&nbsp; GPS</li>
                            <li class="divider"></li>
                        </ul>

           
                    </div>
                </div>
                <!--Fim Filtros-->
                <div class="col-sm-8">
                    <h2>Vehicle guide</h2>
                    <div class="filters-by-category text-center">
                        <ul class="option-set" data-option-key="filter">
                            <li><a href="#filter" data-option-value="*" class="selected">Todos</a></li>
                            <li><a href="#filter" data-option-value=".category1">Econômica</a></li>
                            <li><a href="#filter" data-option-value=".category2" class="">Mediana</a></li>
                            <li><a href="#filter" data-option-value=".category3" class="">Luxo</a></li>
                          
                        </ul>
                    </div>
                    <div class="gallery">

                        @{Html.RenderPartial("ListaVeiculos", Model);}
                    
                        @*@{
                            Html.RenderPartial("ListaVeiculos");
                        }*@

                       <div class="item category1 category3">
                            <div class="iolxmage"><img id="caminhoFotoCarro_5" src="~/Content/img/rental-car/rentalcar/car6.png" alt="" /></div>
                            <div class="info">
                                <h4>mercedes sls</h4>
                                <p>15 km/l (approximate)</p>
                                <p><a href="#" class="read-more">Details</a></p>
                                <input type="button" class="btn btn-primary selecionarCarro" id="carro_5" idCarro="5" modeloCarro="Mercedes" precoCarro="200.00" value="Selecionar" />

                            </div>
                            <div class="details-box">
                                <span class="box-close">&times;</span>
                                <div class="title">Vehicle Details</div>
                                <div class="inside">
                                    <div class="wrapper row-top">
                                        <div class="details-image"><img src="~/Content/img/rental-car/rentalcar/car6.png" alt="" /></div>
                                        <div class="details-list">
                                            <h4>mercedes sls</h4>
                                            5 Passengers<br>
                                            1 Large Suitcase, 2 Small Suitcase<br>
                                            Automatic Transmission<br>
                                            Air Conditioning<br>
                                            0 g/km CO2
                                        </div>
                                    </div>
                                    <div class="row-bot">
                                        <p><strong>Please Note:</strong></p>
                                        <ul class="styled-list">
                                            <li><strong>Pre-Pay Online: </strong>Allows you to reserve your vehicle and save money by pre-paying online.</li>
                                            <li><strong>Pay at location:</strong> Allows you to reserve your vehicle and pay at the counter upon collection.</li>
                                            <li>The vehicles shown are examples. Specific models within a car class may vary in availability and features, such as passenger seating, luggage capacity and mileage.</li>
                                        </ul>
                                        <a href="#" class="btn btn-default">Save for my reservation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                     
                       
                       
                    </div>
                </div>

                <!--Area da reserva-->
                <div class="col-sm-2 sidenav normal" id="divReserva">
                    <div id="div-fixo-slip" class="col-2 pull-right" style="">

                        <div class="box-detalhes-reserva">
                            <div class="regiao-slip-reserva ativo" id="slip-reserva-sua-reserva">
                                <div class="reserva-header">
                                    <a class="target" href="#" title="sua reserva">
                                        <i class="icon2-sua-reserva"></i><h1 style="margin-top:5%">sua reserva</h1>
                                    </a>
                                </div>
                                <div class="reserva-body">
                                    <i class="icon2-retirada"></i><p class="sub-title">Retirada</p>
                                    <a class="pull-right btn-dtl-reserva link-alterar" href="#" data-toggle="modal" data-target="#myModal" title="Editar">
                                        Editar
                                    </a>
                                   
                                    <div class="content-agencias">
                                        <p class="text-slip-strong" style="text-transform:capitalize">
                                            @Model.localRetirada.Nome
                                            @Html.HiddenFor(m=>m.idLocalRetiradaHidden, new { Value = Model.localRetirada.Id})
                                        </p>
                                        <div class="date text-slip-normal">
                                            @Model.dataRetirada.ToString()
                                            @Html.HiddenFor(m => m.dataRetiradaHidden, new { Value = Model.dataRetirada.ToString() })
                                        </div>
                                    </div>
                                    <p class="sub-title"><i class="icon2-devolucao"></i>Devolução</p>
                                    <a class="pull-right btn-dtl-reserva link-alterar" href="#" data-toggle="modal" data-target="#myModal" title="Editar">
                                        Editar
                                    </a>
                                    <div class="content-agencias">
                                        <p class="text-slip-strong" style="text-transform:capitalize">
                                            @Model.localEntrega.Nome
                                            @Html.HiddenFor(m=>m.idLocalEntregaHidden, new { Value = Model.localEntrega.Id })
                                        </p>
                                        <div class="date text-slip-normal">
                                            @Model.dataEntrega.ToString()
                                            @Html.HiddenFor(m=>m.dataEntregaHidden, new { Value = Model.dataEntrega.ToString()})
                                        </div>
                                    </div>
                                    <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                        <p class="sub-title"> <i class="icon2-seu-carro"></i> Diárias: <font color="black">@Model.QtdDiarias</font></p>
                                        @Html.HiddenFor(m => m.QtdDiarias, new { Value = Model.QtdDiarias })
                                    </div>

                                    <div id="slip-reserva-upgrade" class="box-detalhes-reserva seu-carro" style="display:none;">
                                        <br>
                                    
                                        <div class=""><img style="width:250px" id="caminhoFotoCarroSelecionado" src="" alt="" /></div>
                                        <div class="info">
                                            <h4><font color="#00984a"> Modelo: </font><span id="carroSelecionado" ></span></h4>
                                            @Html.HiddenFor(m=>m.idCarroSelecionadoHidden)
                                        </div>

                                    </div>

                                    <div class="reserva-footer" id="slip-reserva-valor" style="display:none;">
                                        <div class="slip-reserva-valor-total">
                                            <h3 class="titulo valor-previsto"><font color="#00984a">Total: </font><span  id="valorLocacao"></span></h3>
                                            @Html.HiddenFor(m => m.precoTotal)
                                            @Html.HiddenFor(m=> m.precoDiaria)
                                        </div>
                                    </div>

                                    <input type="button" class="btn btn-primary" id="confirmarLocacao" value="Continuar"  style="display:none" />

                                </div>
                     
                            </div>
                            @*<div class="reserva-footer" id="slip-reserva-valor" style="display:none;">
                                <div class="slip-reserva-valor-total">
                                    <p class="titulo valor-previsto" id="valorLocacao"></p>
                                </div>
                            </div>
                            
                            <input type="button" class="btn btn-primary" id="confirmarLocacao" value="Continuar" style="display:none" />*@
                        </div>
                    </div>
                </div>
                <!--Fim Area reserva-->

             </div>
          </div>

        <!--Modal de Edição do local de Retirada/Entrega-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="reservation-form-shadow">
                            <form action="#" method="post" name="car-select-form" id="car-select-form">
                                <div class="alert alert-danger hidden" id="car-select-form-msg">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>Note:</strong> Todos os campos são obrigatórios!
                                </div>
                                <!-- Pick-up location start -->
                                <div class="location">
                                    <div class="input-group pick-up">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> Retirada</span>
                                        @Html.DropDownList("listaLocalRetirada", Model.ListaDeAgencias, new { @class = "form-control" })
                                    </div>
                                    <!-- Pick-up location end -->
                                    <a class="different-drop-off" href="#">Local de entrega diferente da retirada?</a>
                                    <!-- Drop-off location start -->
                                    <div class="input-group drop-off">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> Entrega</span>
                                        @Html.DropDownList("listaLocalEntrega", Model.ListaDeAgencias, new { @class = "form-control" })

                                    </div>
                                </div>
                                <!-- Drop-off location end -->
                                <!-- Pick-up date/time start -->
                                <div class="datetime pick-up">
                                    <div class="date pull-left">
                                        <div class="input-group">
                                            <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Retirar</span>
                                            <input type="text" name="pick-up-date" id="pick-up-date" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="time pull-right">
                                        <div class="styled-select-time">
                                            <select name="pick-up-time" id="pick-up-time">
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="06:30 AM">06:30 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                                <option value="07:30 AM">07:30 AM</option>
                                                <option value="08:00 AM">08:00 AM</option>
                                                <option value="08:30 AM">08:30 AM</option>
                                                <option value="09:00 AM">09:00 AM</option>
                                                <option value="09:30 AM">09:30 AM</option>
                                                <option value="10:00 AM">10:00 AM</option>
                                                <option value="10:30 AM">10:30 AM</option>
                                                <option value="11:00 AM">11:00 AM</option>
                                                <option value="11:30 AM">11:30 AM</option>
                                                <option value="12:00 PM">12:00 PM</option>
                                                <option value="12:30 PM">12:30 PM</option>
                                                <option value="01:00 PM">01:00 PM</option>
                                                <option value="01:30 PM">01:30 PM</option>
                                                <option value="02:00 PM">02:00 PM</option>
                                                <option value="02:30 PM">02:30 PM</option>
                                                <option value="03:00 PM">03:00 PM</option>
                                                <option value="03:30 PM">03:30 PM</option>
                                                <option value="04:00 PM">04:00 PM</option>
                                                <option value="04:30 PM">04:30 PM</option>
                                                <option value="05:00 PM">05:00 PM</option>
                                                <option value="05:30 PM">05:30 PM</option>
                                                <option value="06:00 PM">06:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- Pick-up date/time end -->
                                <!-- Drop-off date/time start -->
                                <div class="datetime drop-off">
                                    <div class="date pull-left">
                                        <div class="input-group">
                                            <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Entregar</span>
                                            <input type="text" name="drop-off-date" id="drop-off-date" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="time pull-right">
                                        <div class="styled-select-time">
                                            <select name="drop-off-time" id="drop-off-time">
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="06:30 AM">06:30 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                                <option value="07:30 AM">07:30 AM</option>
                                                <option value="08:00 AM">08:00 AM</option>
                                                <option value="08:30 AM">08:30 AM</option>
                                                <option value="09:00 AM">09:00 AM</option>
                                                <option value="09:30 AM">09:30 AM</option>
                                                <option value="10:00 AM">10:00 AM</option>
                                                <option value="10:30 AM">10:30 AM</option>
                                                <option value="11:00 AM">11:00 AM</option>
                                                <option value="11:30 AM">11:30 AM</option>
                                                <option value="12:00 PM">12:00 PM</option>
                                                <option value="12:30 PM">12:30 PM</option>
                                                <option value="01:00 PM">01:00 PM</option>
                                                <option value="01:30 PM">01:30 PM</option>
                                                <option value="02:00 PM">02:00 PM</option>
                                                <option value="02:30 PM">02:30 PM</option>
                                                <option value="03:00 PM">03:00 PM</option>
                                                <option value="03:30 PM">03:30 PM</option>
                                                <option value="04:00 PM">04:00 PM</option>
                                                <option value="04:30 PM">04:30 PM</option>
                                                <option value="05:00 PM">05:00 PM</option>
                                                <option value="05:30 PM">05:30 PM</option>
                                                <option value="06:00 PM">06:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- Drop-off date/time end -->
                                <input type="submit" class="submit" name="submit" value="Continuar" id="checkoutModalLabel">
                                @*<a href="@Url.Action("Veiculos", "Veiculo")" name="submit" type="submit" class="btn submit" >Continuar</a>*@

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--Fim modal de Edição do local de Retirada/Entrega-->

        <!--Modal de Login-->
        <div class="modal fade" id="modal-login" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form" class="form" id="form-login">
                            <span id="msgErroLogin" class="msgErro" style="display:none"><font color="red">CPF ou Senha inválidos!</font></span>
                            <br/>
                            <div class="form-group">
                              
                                <label for="usrname"><span class="glyphicon glyphicon-user"></span> CPF</label>
                                @*@Html.TextBoxFor(m=>m.cpfAcesso, new { @class = "form-control" })*@
                                <input type="text" class="form-control" id="cpfUser" placeholder="Digite o CPF" >
                                <span id="msgErroCPF" class="msgErro" style="display:none"><font color="red">O CPF é obrigatório!</font></span> 
                            </div>
                            <div class="form-group">
                                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Senha</label>
                                <input type="password" class="form-control" id="senhaUser" placeholder="Digite a Senha">
                                <span id="msgErroSenha" class="msgErro" style="display:none"><font color="red">A senha é obrigatória!</font></span> 
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked>Remember me</label>
                            </div>
                            <button type="button" class="btn btn-primary btn-block" id="efetuarLogin"><span class="glyphicon glyphicon-off"></span> Login</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <p>Not a member? <a href="#" id="btn-cadastro">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                </div>

            </div>
        </div> 
        <!--Fim modal de Login-->

        <!--Modal de Cadastro-->
        <div class="modal fade" id="modal-cadastro" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-lock"></span> Cadastro</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div class="form-group col-md-8">
                                <label for="name">Nome	</label>
                                @Html.TextBoxFor(m => m.nomeCliente, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="usrname"><span class="glyphicon glyphicon-user"></span> CPF</label>
                                @Html.TextBoxFor(m => m.cpf, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Cartao*	</label>
                                @Html.TextBoxFor(m => m.numCartao, new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-6">
                                <label for="name">Telefone*</label>
                                @Html.TextBoxFor(m => m.telefone, new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-7">
                                <label for="name">Endereço*</label>
                                @Html.TextBoxFor(m => m.rua, new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-5">
                                <label for="name">Bairro*</label>
                                @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-6">
                                <label for="name">Cidade*</label>
                                @Html.TextBoxFor(m => m.cidade, new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-2">
                                <label for="name">UF*</label>
                                @Html.TextBoxFor(m => m.estado, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Senha</label>
                                @Html.TextBoxFor(m => m.senha, new { @class = "form-control" })
                            </div>
                        
                            <button type="button" class="btn btn-success btn-block" id="efetuarLogin"><span class="glyphicon glyphicon-off"></span> Cadastrar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                     
                    </div>
                </div>

            </div>
        </div>
        <!--Fim modal de cadastro-->

</section>


    <a href="#" class="scrollup">ScrollUp</a>

    <!-- Footer start -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-nav">
                        <li><a class="scroll-to" href="#top">Home</a></li>
                        <li><a class="scroll-to" href="#vehicles">Vehicle Models</a></li>
                        <li><a class="scroll-to" href="#reviews">Reviews</a></li>
                        <li><a class="scroll-to" href="#contact">Contact</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <p class="copyright">©2014 Themeinjection, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
   
    <!-- Checkout Modal end -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.autocomplete.min.js"></script>
    <script src="~/Scripts/js/jquery.placeholder.js"></script>
    <script src="~/Scripts/js/locations-autocomplete.js"></script>
    <script src="~/Scripts/js/bootstrap-datepicker.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="~/Scripts/js/gmap3.min.js"></script>

    <!--[if !(gte IE 8)]><!-->
    <script src="~/Scripts/js/wow.min.js"></script>
    <script>
                // Initialize WOW
                //-------------------------------------------------------------
                new WOW({mobile: false}).init();
    </script>
    <!--<![endif]-->
    <script src="~/Scripts/js/custom.js"></script>
  
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.flexslider.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.parallax.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.inview.js"></script>
    <script src="~/Scripts/js-rental-car/superfish.js"></script>
    <script src="~/Scripts/js-rental-car/supersubs.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.glide.js"></script>
    <script src="~/Scripts/js-rental-car/select2.min.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.isotope.min.js"></script>
    <script src="~/Scripts/js-rental-car/owl.carousel.js"></script>
    <script src="~/Scripts/js-rental-car/rentalcar-custom.js"></script>
   
   

</body>

<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:29:28 GMT -->
</html>
