<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css-css")
    @*@Styles.Render("~/Content/css/styles")
    @Styles.Render("~/Content/css/rental-car")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!-- Bootstrap -->
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="~/Content/css/animate.css" rel="stylesheet">
        <!-- Google Font Lato -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
        <!-- Plugin Styles -->
        <link href="~/Content/css/datepicker.css" rel="stylesheet">

        <!-- Main Styles -->
        <link href="~/Content/css/styles.css" rel="stylesheet">
        <link href="~/Content/css/rental-car-css/rentalcar-template.css" rel="stylesheet">
        <link href="~/Content/css/sweetalert.css" rel="stylesheet" />*@
        <!-- Available main styles: styles-red.css, styles-green.css -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.~/Scripts/js/1.4.2/respond.min.js"></script>
          <link href="css/ie8fix.css" rel="stylesheet">
          <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
          <![endif]-->
        <!-- Fav and touch icons -->

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'3186632c-2113-47f0-bb5a-099f14ce9794'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

    <div class="container-fluid body-content">
        <!-- Header start -->
        <header data-spy="affix" data-offset-top="39" data-offset-bottom="0" class="large">
            <div class="row container box">
                <div class="col-md-5">
                    <!-- Logo start -->
                    <div class="brand">
                        <h1><a class="scroll-to" href="#top"><img class="img-responsive" src="~/Content/img/logo.gif" alt="Car|Rental"></a></h1>
                    </div>
                    <!-- Logo end -->
                </div>
                <div class="col-md-7">

                    <div class="clearfix"></div>
                    <!-- start navigation -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand scroll-to" href="#top"><img class="img-responsive" src="~/Content/img/logo.gif" alt="Car|Rental"></a>
                            </div>
                            <!-- Collect the nav links, for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <!-- Nav-Links start -->
                                @if (Session["idCliente"] == null)
                                {
                                     <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="@Url.Action("Index", "Home")" class="scroll-to">Inicio</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li id="opLogin" >
                                                    <a href="#"><i class="fa fa-user fa-fw"></i> Login</a>
                                                </li>
                                                <li id="opReservas" style="display:none" >
                                                    <a href="@Url.Action("LocacoesCliente", "Locacao")"><i class="fa fa-gear fa-fw"></i> Reservas</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li id="opLogout" style="display:none">
                                                    <a href="@Url.Action("SairSessao", "Acesso")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                                </li>
                                            </ul>
                                            <!-- /.dropdown-user -->
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="@Url.Action("Index", "Home")" class="scroll-to">Inicio</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                               <i class="fa fa-user fa-fw"></i> &nbsp;@ViewBag.ClienteLogado.Nome&nbsp;<i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li id="opLogin" style="display:none">
                                                    <a href="#"><i class="fa fa-user fa-fw"></i> Login</a>
                                                </li>
                                                <li id="opReservas">
                                                    <a href="@Url.Action("LocacoesCliente", "Locacao")"><i class="fa fa-gear fa-fw"></i> Reservas</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li id="opLogout">
                                                    <a href="@Url.Action("SairSessao", "Acesso")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                                </li>
                                            </ul>
                                            <!-- /.dropdown-user -->
                                        </li>
                                    </ul>

                                }
                                <!-- Nav-Links end -->
                            </div>
                        </div>
                    </nav>
                    <!-- end navigation -->
                </div>
            </div>
        </header>
        <!-- Header end -->
        @RenderBody()
        <hr />
        <!-- Footer start -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-nav">
                            <li><a class="scroll-to" href="#top">Home</a></li>
                            <li><a class="scroll-to" href="#vehicles">Vehicle Models</a></li>
                            <li><a class="scroll-to" href="#reviews">Reviews</a></li>
                            <li><a class="scroll-to" href="#contact">Contact</a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <p class="copyright">©2014 Themeinjection, All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/js-rental-car")*@
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.autocomplete.min.js"></script>
    <script src="~/Scripts/js/jquery.placeholder.js"></script>
    <script src="~/Scripts/js/locations-autocomplete.js"></script>
    <script src="~/Scripts/js/bootstrap-datepicker.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="~/Scripts/js/gmap3.min.js"></script>

    <!--[if !(gte IE 8)]><!-->
    <script src="~/Scripts/js/wow.min.js"></script>
    <script>
        // Initialize WOW
        //-------------------------------------------------------------
        new WOW({ mobile: false }).init();
    </script>
    <!--<![endif]-->
    <script src="~/Scripts/js/custom.js"></script>

    <script src="~/Scripts/js-rental-car/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.flexslider.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.parallax.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.inview.js"></script>
    <script src="~/Scripts/js-rental-car/superfish.js"></script>
    <script src="~/Scripts/js-rental-car/supersubs.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.glide.js"></script>
    <script src="~/Scripts/js-rental-car/select2.min.js"></script>
    <script src="~/Scripts/js-rental-car/jquery.isotope.min.js"></script>
    <script src="~/Scripts/js-rental-car/owl.carousel.js"></script>
    <script src="~/Scripts/js-rental-car/rentalcar-custom.js"></script>
    


    @RenderSection("scripts", required: false)
</body>
</html>
