@{
    ViewBag.Title = "Teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Trabalho20172.Models.LocacaoViewModel

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:28:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car|Rental Landingpage</title>
  
    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/img/ico/favicon.png">

    <style>
        .sidenav {
            padding-top: 0px;
            height: 100%;
        }

        .reserva-header {
            height:50px
        }

        .voo-header {
            height:20px
        }

    </style>


</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="260">


    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul>
                    <li><h4>Que tal uma passagem Aérea?</h4></li>
                    <li><a href="@Url.Action("LocacoesCliente", "Locacao")"><i class="fa fa-gear fa-fw"></i>Ir para Reservas</a></li>
                </ul>



                @{
                    foreach (var voo in Model.listaVoos)
                    {
                        <div class="box-detalhes-reserva col-md-3 col-sm-12" style="margin-left:30px;margin-top:30px">
                            <div class="regiao-slip-reserva ativo" id="slip-reserva-sua-reserva">
                                <div class="reserva-header voo-header" >
                                    <a class="target" href="#" title="sua reserva" style="margin:0px auto">
                                        <i class="fa fa-plane" aria-hidden="true"></i> @voo.codigo

                                    </a>
                                </div>
                                <div class="reserva-body">
                                    <i class="icon2-retirada"></i><p class="sub-title">Partida</p>
                                    <div class="content-agencias">
                                        <p class="text-slip-strong" style="text-transform:capitalize">
                                            @voo.cidade_partida - @voo.aeroporto_partida (@voo.sigla_aeroporto_partida)
                                        </p>
                                        <div class="date text-slip-normal">
                                            @voo.partida
                                        </div>
                                    </div>
                                    <p class="sub-title"><i class="icon2-devolucao"></i>Chegada</p>
                                    <div class="content-agencias">
                                        <p class="text-slip-strong" style="text-transform:capitalize">
                                            @voo.cidade_destino - @voo.aeroporto_destino (@voo.sigla_aeroporto_destino)
                                        </p>
                                        <div class="date text-slip-normal">
                                            @voo.chegada
                                        </div>
                                    </div>

                                    <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                        <p class="sub-title"> <i class="icon2-seu-carro"></i> Preço: <font color="black">R$ @voo.preco.ToString("n2")</font></p>

                                    </div>
                                    <input type="button" class="btn btn-primary btn-block" id="confirmarLocacao" value="Comprar" style="" />

                                </div>

                            </div>

                        </div>

                    }


                }


            </div>

            <!--Area da reserva-->
            @*<div class="col-sm-12 col-md-2">
                <div class="sidenav">
                    <div id="div-fixo-slip" class="col-2 pull-right" style="">

                        <div class="box-detalhes-reserva">
                            <div class="regiao-slip-reserva ativo" id="slip-reserva-sua-reserva">
                                <div class="reserva-header">
                                    <a class="target" href="#" title="sua reserva">
                                        <i class="icon2-sua-reserva"></i><h1 style="margin-top:5%">sua reserva</h1>
                                    </a>
                                </div>
                                <div class="reserva-body">
                                    <i class="icon2-retirada"></i><p class="sub-title">Retirada</p>
                                    <div class="content-agencias">
                                        <p class="text-slip-strong" style="text-transform:capitalize">
                                            @Model.localRetirada.Nome
                                            @Html.HiddenFor(m => m.idLocalRetiradaHidden, new { Value = Model.localRetirada.Id })
                                        </p>
                                        <div class="date text-slip-normal">
                                            @Model.dataRetirada.ToString()
                                            @Html.HiddenFor(m => m.dataRetiradaHidden, new { Value = Model.dataRetirada.ToString() })
                                        </div>
                                    </div>
                                    <p class="sub-title"><i class="icon2-devolucao"></i>Devolução</p>
                                    <div class="content-agencias">
                                        <p class="text-slip-strong" style="text-transform:capitalize">
                                            @Model.localEntrega.Nome
                                            @Html.HiddenFor(m => m.idLocalEntregaHidden, new { Value = Model.localEntrega.Id })
                                        </p>
                                        <div class="date text-slip-normal">
                                            @Model.dataEntrega.ToString()
                                            @Html.HiddenFor(m => m.dataEntregaHidden, new { Value = Model.dataEntrega.ToString() })
                                        </div>
                                    </div>

                                    <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                        <p class="sub-title"> <i class="icon2-seu-carro"></i> Diárias: <font color="black">@Model.QtdDiarias</font></p>
                                        @Html.HiddenFor(m => m.QtdDiarias, new { Value = Model.QtdDiarias })
                                    </div>

                                    <div id="slip-reserva-upgrade" class="box-detalhes-reserva seu-carro" style="">
                                        <br>
                                        @*<span class="text-slip-normal" id="carroSelecionado"></span>*@
                                        @*<div class=""><img style="width:250px" id="caminhoFotoCarroSelecionado" src="@Model.carroSelecionado.UrlImagem" alt="" /></div>
                                        <div class="info">
                                            <h4 id="carroSelecionado"><font color="#00984a"> Modelo: </font>@Model.carroSelecionado.Modelo</h4>
                                            @Html.HiddenFor(m => m.idCarroSelecionadoHidden, new { Value = Model.carroSelecionado.Id })
                                        </div>

                                    </div>

                                    <div class="reserva-footer" id="slip-reserva-valor" style="">
                                        <div class="slip-reserva-valor-total">
                                            <h3 class="titulo valor-previsto" id="valorLocacao"><font color="#00984a">Total: </font>@Model.QtdDiarias X @Model.precoDiaria = R$ @Model.precoTotal.ToString("n2")</h3>
                                            @Html.HiddenFor(m => m.precoTotal)
                                        </div>
                                    </div>

                                </div>

                            </div>*@
                            @*<div class="reserva-footer" id="slip-reserva-valor" style="display:none;">
                                    <div class="slip-reserva-valor-total">
                                        <p class="titulo valor-previsto" id="valorLocacao"></p>
                                    </div>
                                </div>

                                <input type="button" class="btn btn-primary" id="confirmarLocacao" value="Continuar" style="display:none" />*@
                        @*</div>
                    </div>
                </div>
            </div>*@
            <!--Fim Area reserva-->

        </div>
    </div>



    <a href="#" class="scrollup">ScrollUp</a>

</body>

<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:29:28 GMT -->
</html>

@section Scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        debugger;
        var idCliente = '@HttpContext.Current.Session["idCliente"]';
        if (idCliente != "") {
            debugger;
            $("#opLogin").hide();
            $("#opReservas").show();
            $("#opLogout").show();
        }
    });

    </script>
}
