
@{
    ViewBag.Title = "Teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  Trabalho20172.Models.LocacaoClienteViewModel

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:28:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car|Rental Landingpage</title>
   
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/img/ico/favicon.png">
    <link href="~/Content/css/rentalcar-template.css" rel="stylesheet" />


    <style>
        .sidenav {
            padding-top: 0px;
            height: 100%;
        }

        .reserva-header {
            height: 50px
        }

        .voo-header {
            height: 20px
        }
    </style>


</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="260">
    <!-- Header start -->
    @*<header data-spy="affix" data-offset-top="39" data-offset-bottom="0" class="large">
        <div class="row container box">
            <div class="col-md-5">
                <!-- Logo start -->
                <div class="brand">
                    <h1><a class="scroll-to" href="#top"><img class="img-responsive" src="~/Content/img/logo.gif" alt="Car|Rental"></a></h1>
                </div>
                <!-- Logo end -->
            </div>
            <div class="col-md-7">
                <div class="clearfix"></div>
                <!-- start navigation -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand scroll-to" href="#top"><img class="img-responsive" src="~/Content/img/logo.gif" alt="Car|Rental"></a>
                        </div>
                        <!-- Collect the nav links, for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <!-- Nav-Links start -->
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#top" class="scroll-to">Inicio</a></li>
                                <li><a href="#vehicles" class="scroll-to">Veículos</a></li>
                                <li><a href="#contact" class="scroll-to">Contato</a></li>
                            </ul>
                            <!-- Nav-Links end -->
                        </div>
                    </div>
                </nav>
                <!-- end navigation -->
            </div>
        </div>
    </header>*@
    <!-- Header end -->

    @*<section class="content">*@
        @*<div class="container-fluid">*@
            <div class="row content">

                <div class="col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">

                    <h2>Locações</h2>
                    <div class="filters-by-category text-center">
                        <ul class="option-set" data-option-key="filter">
                            <li><a href="#filter" data-option-value="*" class="selected">Todas</a></li>
                            <li><a href="#filter" data-option-value=".category1">Aberto</a></li>
                            <li><a href="#filter" data-option-value=".category2" class="">Finalizada</a></li>

                        </ul>
                    </div>
                    <div class="gallery">

                        @{
                            foreach (var loc in Model.listaLocacoes)
                            {
                                if (loc.finalizada == true)
                                {
                                    <div class="box-detalhes-reserva col-md-3 item category2" style="margin-left:30px;margin-top:30px">
                                        <div class="regiao-slip-reserva ativo" id="slip-reserva-sua-reserva">
                                          
                                            <div class="reserva-body">
                                                <i class="icon2-retirada"></i><p class="sub-title">Retirada</p>
                                                <div class="content-agencias">
                                                    <p class="text-slip-strong" style="text-transform:capitalize">
                                                        @loc.localRetirada.Nome - @loc.localRetirada.Cidade - @loc.localRetirada.Estado
                                                    </p>
                                                    <div class="date text-slip-normal">
                                                        @loc.dataRetirada.ToString()
                                                    </div>
                                                </div>
                                                <p class="sub-title"><i class="icon2-devolucao"></i>Chegada</p>
                                                <div class="content-agencias">
                                                    <p class="text-slip-strong" style="text-transform:capitalize">
                                                        @loc.localEntrega.Nome - @loc.localEntrega.Cidade - @loc.localEntrega.Estado
                                                    </p>
                                                    <div class="date text-slip-normal">
                                                        @loc.dataEntrega.ToString()
                                                    </div>
                                                </div>
                                                <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                                    <p class="sub-title"> <i class="icon2-seu-carro"></i> Diárias: <font color="black">@loc.QtdDiarias</font></p>
                                                </div>

                                                <div id="slip-reserva-upgrade" class="box-detalhes-reserva seu-carro-edicao" style="">
                                                    <br>

                                                    <div class=""><img style="width:250px" id="caminhoFotoCarroSelecionado" src="@loc.carroSelecionado.UrlImagem" alt="" /></div>
                                                    <div class="info">
                                                        <h4><font color="#00984a"> Modelo: </font><span id="carroSelecionado"></span>@loc.carroSelecionado.Modelo</h4>

                                                    </div>
                                                </div>

                                                <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                                    <p class="sub-title"> <i class="icon2-seu-carro"></i> Preço: <font color="black"> @loc.QtdDiarias X @loc.precoDiaria = R$ @loc.precoTotal</font></p>
                                                </div>
                                               
                                            </div>

                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="box-detalhes-reserva col-md-3 item category1" style="margin-left:30px;margin-top:30px">
                                        <div class="regiao-slip-reserva ativo" id="slip-reserva-sua-reserva">
                                           
                                            <div class="reserva-body">
                                                <i class="icon2-retirada"></i><p class="sub-title">Retirada</p>
                                                <div class="content-agencias">
                                                    <p class="text-slip-strong" style="text-transform:capitalize">
                                                        @loc.localRetirada.Nome - @loc.localRetirada.Cidade - @loc.localRetirada.Estado
                                                    </p>
                                                    <div class="date text-slip-normal">
                                                        @loc.dataRetirada.ToString()
                                                    </div>
                                                </div>
                                                <p class="sub-title"><i class="icon2-devolucao"></i>Chegada</p>
                                                <div class="content-agencias">
                                                    <p class="text-slip-strong" style="text-transform:capitalize">
                                                        @loc.localEntrega.Nome - @loc.localEntrega.Cidade - @loc.localEntrega.Estado
                                                    </p>
                                                    <div class="date text-slip-normal">
                                                        @loc.dataEntrega.ToString()
                                                    </div>
                                                </div>
                                                <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                                    <p class="sub-title"> <i class="icon2-seu-carro"></i> Diárias: <font color="black">@loc.QtdDiarias</font></p>
                                                </div>

                                                <div id="slip-reserva-upgrade" class="box-detalhes-reserva seu-carro-edicao" style="">
                                                    <br>

                                                    <div class=""><img style="width:250px" id="caminhoFotoCarroSelecionado" src="@loc.carroSelecionado.UrlImagem" alt="" /></div>
                                                    <div class="info">
                                                        <h4><font color="#00984a"> Modelo: </font><span id="carroSelecionado"></span>@loc.carroSelecionado.Modelo</h4>

                                                    </div>
                                                </div>

                                                <div id="qtdDiarias" class="box-detalhes-reserva" style="">
                                                    <p class="sub-title"> <i class="icon2-seu-carro"></i> Preço: <font color="black"> @loc.QtdDiarias X @loc.precoDiaria = R$ @loc.precoTotal</font></p>

                                                </div>
                                                <input type="button" class="btn btn-danger btn-block" id="cancelarLocacao" value="Cancelar" style="" />

                                            </div>

                                        </div>

                                    </div>
                                }
                            }

                        }
                    </div>

                </div>

            </div>
        @*</div>*@







    @*</section>*@


    <a href="#" class="scrollup">ScrollUp</a>

</body>

<!-- Mirrored from carrental.themeinjection.com/theme/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Sep 2017 13:29:28 GMT -->
</html>

@section Scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        debugger;
        var idCliente = '@HttpContext.Current.Session["idCliente"]';
        if (idCliente != "") {
            debugger;
            $("#opLogin").hide();
            $("#opReservas").show();
            $("#opLogout").show();
        }
    });

    </script>
}




